<!DOCTYPE html>
<html>
    <head>
        <title>Adult Ballet for Beginners</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Rebekah's Adult Ballet for Beginners Blog</a></h1>
        </header>

        <article>
            <time>published: 18.09.2024, 11:19</time>
            <h2><a href="">Why you should consider starting ballet as an adult</a></h2>
            <p>Ballet is an excellent hobby for people of all ages and ability levels.</p>
        </article>

        <article>
            <time>published: 18.09.2024, 11:20</time>
            <h2><a href="">Ballet class etiquette tips</a></h2>
            <p>These tips will help you have a successful first experience in the studio.</p>
        </article>
    </body>
</html>